# Удаляем папку node_modules
node_modules/

# Лог файлы
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Кэширование npm
.npm/

# Каталоги VS Code
.vscode/
.idea/

# Операционные системы и редакторы
.DS_Store
Thumbs.db

# Компиляция/построенные файлы
dist/
build/

# Генерируемые файлы
*.log
*.tsbuildinfo

# Серединные файлы разработки
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Локальные среды и инструменты
.sass-cache/
.connect-stash/